@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.container-fluid{
    font-family: 'Poppins', sans-serif;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    box-sizing: border-box;
    background-color: #1B1B3A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    font-family: 'Poppins', sans-serif;    
}
.header h1{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #fd0000;
}
.form label{
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
    margin-bottom: 0.5rem;
    font-family: 'Poppins', sans-serif;  
}
.form2 label input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;  
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.63);
}
.btn{
    width: 100%;
}
.btn button{

    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    background-color: #746CF7;
    
}
.btn button:hover{
    background-color: #d044ec;    
    color: rgb(255, 255, 255);
}
